:root {
    --black: #000;
    --white: #fff;
    --gray: #F2F0F1;
    --text-gray: #666;

    --font-body: 'Plus Jakarta Sans', sans-serif;
    --font-heading: 'Plus Jakarta Sans', sans-serif;

    --container: 77.5rem; 

    --radius-sm: 1.25rem;   
    --radius-md: 3.875rem;  

    --transition: 0.3s ease;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%; 
}

body {
    font-family: var(--font-body);
    color: var(--black);
    background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}



.container {
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 1.25rem; 
}